html {
    background-color: #FAFAF8;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    font-family: 'Merriweather', serif;
}

small {
    font-size: 60%;
}

a {
    color: #4B88A2;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: 101%;
}

.masthead {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 500%;
}

.nav {
    text-align: center;
}

.break {
    height: 20px;
}

.container {
    width: 100vw;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    
    border: 1px solid #EEE;
    background-color: #FFF;
}

.text {
    margin: 2em auto;
    max-width: 700px;
}
